// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {
	padding: $lineheight $left;

	p {
		margin-left: 0;
		}

	// Author
	cite {
		font-style:italic;
			&:before {
				content: "—";
			}
		}

	&:before {
		content: "“";
		display: block;
		position: absolute;
		z-index: -100;
		margin: 100px 0 0 -112px;
		color: rgba($color1, 0.2);
		font-size: 400px;
		font-family: Georgia, sans-serif;
		font-weight: bold;
	}

	}
