// ------------------------------------------------------------------
// Table
// ------------------------------------------------------------------
// 1. Cells ............ Paddings and alignment
// 2. Lines ............ Row dividing lines
// 3. Stripes. ......... Background for even lines
// ------------------------------------------------------------------

table {
	margin: 0 0 1em $left;

	thead {
		tr > td, tr > th {
			font-style: italic;
		}
	}

	th {
		text-align:left;
		font-weight:bold;
		}

	td, th {
		padding: 0 $left 0 0;
		}
	}
