// ------------------------------------------------------------------
// Section: Title slide
// ------------------------------------------------------------------

&.title {
	h2 {
		margin:(2*$headerlineheight - $headeroffset + 2*$lineheight) 0 ($lineheight + $fontsize);
		font-size:2*$fontsize;
		line-height:2*$lineheight;
	}
	p {
		margin:0;
	}
	.affiliation {
		font-style: italic;
	}
}
