// ------------------------------------------------------------------
// Cover
// ------------------------------------------------------------------

.cover:not(figure),
figure.cover >  :first-child,
figure.cover > a:first-child img {
	position:absolute;
	top:50%;
	left:50%;
	z-index:-1;
	transform:translate(-50%, -50%);
	max-width:100%;
	max-height:100%;
}

// Fitting
.cover:not(figure).width, .cover:not(figure).w,
figure.cover.width >  :first-child,     figure.cover.w >  :first-child,
figure.cover.width > a:first-child img, figure.cover.w > a:first-child img {
	width:100%;
	max-height:none;
}
.cover:not(figure).height, .cover:not(figure).h,
figure.cover.height >  :first-child,     figure.cover.h >  :first-child,
figure.cover.height > a:first-child img, figure.cover.h > a:first-child img {
	height:100%;
	max-width:none;
}

figure.cover {
	// Caption
	& figcaption {
		position:absolute;
		bottom:0px;
		right:0px;
		font-size:8pt;
		line-height:1;
		padding:5px 10px;
		color:white;
		background-color:rgba(black,0.5);
		font-weight: 300;

		// Links
		a {
			color:currentcolor;
			}
		}
	}
