// ------------------------------------------------------------------
// Shout
// ------------------------------------------------------------------

.shout {

	position:absolute;
	top:50%;
	left:0;
	width:100%;
	padding: 0 $left;
	text-align:center;
	line-height:1;
	font-size:4*$fontsize;
	transform:translateY(-50%);

	}
