// ------------------------------------------------------------------
// Defaults
// ------------------------------------------------------------------
// 1. Sizes ............ Global layout and color variables
//    - Width .......... Default slide width 1024 px
//    - Height ......... Height calculated based on width and ratio
//    - Gap ............ Gap between slides in List mode
// 2. Colors ........... Global color variables
// 3. Retina ........... Retina detection mixin
// 4. Underliner ....... Mixin for drawing lines using gradient
// 5. Scale ............ MQ generator based on slides scale factor
// 6. Offscreen ........ Mixing for hiding things in accessible way
// ------------------------------------------------------------------

// Sizes

$width:1024px;
$height:$width/$ratio;
$gap:100px;

// Colors

$color1:#4B86C2;
$color2:#CC4320;
$color3:lighten(#CC9C20,10%);
$yellow:#FAFAA2;
$grey:#979A9E;

// Retina

@mixin retina {
	@media (min-resolution:2dppx) {
		@content;
		}
	}

// Underliner

@mixin underline($color, $width) {
	background-image: linear-gradient(to left, $color, $color);
	background-repeat: repeat-x;
	background-size: .2em $width;
	background-position: 0 1.15em;
	}

// Scale

@mixin scale($scale) {
	@if $scale == 4 {
		@content;
		}
	@else {
		@media (min-width:2 * ($width / $scale) + ($gap / $scale) * 3) {
			@content;
			}
		}
	}

// Offscreen

@mixin offscreen {
	position:absolute;
	clip:rect(0 0 0 0);
	overflow:hidden;
	margin:-1px;
	padding:0;
	width:1px;
	height:1px;
	border:none;
	}
