// ------------------------------------------------------------------
// Inline
// ------------------------------------------------------------------

a {
	color:inherit;
	}
b, strong {
	font-weight:bold;
	color: $color2;
	}
i, em, dfn, var {
	font-style:italic;
	}
kbd, code, samp {
	line-height:1;
	font-family: "Source Code Pro", monospace;
	}
mark {
	background:$color3;
	}
sub, sup {
	position: relative;
	line-height:0;
	font-size:75%;
	}
sub {
	bottom:-0.25em;
	}
sup {
	top:-0.5em;
	}
q {
	&:before {
		content:"“";
	}
	&:after {
		content:"”";
	}
}
